# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
*.pyc

# Project
data/*.duckdb
!data/sample.duckdb
data/*.parquet
data/*.csv
.streamlit/

# Tools
.ruff_cache/

# PyInstaller
build/
dist/
*.spec.bak
